:root {
  --grey: #eeeeee;
}

#grid > div {
  /* border-bottom: 1px solid var(--grey); */
  /* border-right: 1px solid var(--grey); */
  width: 0.625%;
  height: 1%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 100px;
}
#grid {
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  border: 1px solid black;
  width: 80%;
}

body {
  margin: 0;
}

.in {
  background-color: black;
}

.appat {
  background-color: red;
}
